<?xml version="1.0"?>
<config>
    <modules>
        <Emzee_BackendTest>
            <version>2.0.0.0</version>
            <active>true</active>
            <codePool>local</codePool>
            <depends>
                <Mage_Backend/>
            </depends>
        </Emzee_BackendTest>
    </modules>
</config>